In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import read_csv
import math
import h2o

from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from scipy import stats

ImportError: No module named h2o

In [5]:
df = pd.read_csv("C:\\Users\\AyodejiAkiwowo\\Documents\\Ayo\\RenewablesPython\\data\\train_dataset.csv")

In [6]:
df.head()

,PlantName,apparentTemperature,cloudCover,dewPoint,humidity,icon,precipType,pressure,temperature,Time,uvIndex,visibility,windBearing,windSpeed,month,Date,Hour,Irradiance
0,Copley Farm,50.40,0.84,49.69,0.97,partly-cloudy-night,rain,1022.18,50.40,2015-12-28T00:00:00Z,NaN,2.99,175.0,9.02,12,2015-12-28,0,0.0
1,Copley Farm,50.03,0.84,49.44,0.98,partly-cloudy-night,rain,1022.12,50.03,2015-12-28T01:00:00Z,NaN,2.71,165.0,8.45,12,2015-12-28,1,0.0
2,Copley Farm,50.10,0.60,49.70,0.99,partly-cloudy-night,rain,1021.82,50.10,2015-12-28T02:00:00Z,NaN,2.81,163.0,8.93,12,2015-12-28,2,0.0
3,Copley Farm,46.03,1.00,49.36,0.98,cloudy,rain,1021.48,49.84,2015-12-28T03:00:00Z,NaN,2.61,150.0,9.42,12,2015-12-28,3,0.0
4,Copley Farm,44.87,0.76,48.62,0.98,partly-cloudy-night,rain,1020.84,49.29,2015-12-28T04:00:00Z,NaN,2.38,141.0,10.88,12,2015-12-28,4,0.0

In [9]:
df.describe()

,apparentTemperature,cloudCover,dewPoint,humidity,pressure,temperature,uvIndex,visibility,windBearing,windSpeed,month,Hour,Irradiance
count,117142.000000,96918.000000,117142.000000,117142.000000,117054.000000,117142.000000,31834.000000,117097.000000,117160.000000,117160.000000,117167.000000,117167.000000,117167.000000
mean,50.231080,0.460248,46.755672,0.830333,1016.360549,52.094726,0.685525,7.534322,204.478150,9.477228,6.912936,11.507882,132.325280
std,11.487243,0.359747,8.234046,0.118709,10.070426,9.369475,1.237012,2.008874,88.637651,5.255881,3.280185,6.921558,219.902008
min,18.770000,0.000000,19.910000,0.300000,972.860000,23.430000,0.000000,0.060000,0.000000,0.060000,1.000000,0.000000,0.000000
25%,40.970000,0.100000,40.650000,0.760000,1010.920000,45.310000,0.000000,6.550000,144.000000,5.640000,4.000000,6.000000,0.000000
50%,52.490000,0.440000,47.550000,0.860000,1017.300000,52.490000,0.000000,8.250000,224.000000,8.630000,7.000000,12.000000,5.291667
75%,58.760000,0.750000,53.060000,0.920000,1022.830000,58.740000,1.000000,9.040000,268.000000,12.470000,10.000000,18.000000,177.527778
max,90.690000,1.000000,68.830000,1.000000,1045.370000,89.500000,8.000000,10.000000,359.000000,42.980000,12.000000,23.000000,1119.256579

In [12]:
df.isnull().sum()

PlantName                  0
apparentTemperature       25
cloudCover             20249
dewPoint                  25
humidity                  25
icon                       0
precipType             23547
pressure                 113
temperature               25
Time                       0
uvIndex                85333
visibility                70
windBearing                7
windSpeed                  7
month                      0
Date                       0
Hour                       0
Irradiance                 0
dtype: int64